a {
  padding: 10px;
}
.footer-link {
  width: 50%;
  justify-content: flex-start;
  padding-top: 30px;
  border-top: 1px solid rgb(228, 225, 220);
  flex-direction: row;
}
.footer-language {
  width: 50%;
  padding-top: 30px;
  border-top: 1px solid rgb(228, 225, 220);

  text-align: right;
  float: right;
  display: "flex";
  justify-content: "flex-end";
  padding-right: "20px";
}
option {
  color: blue;
  border: none;
}
.footer-icon {
  width: 50%;

  text-align: right;
  float: right;
  display: "flex";
  justify-content: "flex-end";
  padding-right: "20px";
}
.clr {
  color: #2258bf;
}
.footr {
  display: flex;
}
.text1 {
  font-size: 15px;
  margin-left: 60px;
}
@media only screen and (max-width: 600px) {
  .footr {
    flex-direction: column;
    justify-content: center;
  }
  .text1 {
    text-align: center;
    font-size: 15px;
    margin-left: 15px;
  }

  .item {
    align-items: center;
    justify-content: center;
  }
  .flx1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
@media only screen and (max-width: 375px) {
  .footr {
    flex-direction: column;
    justify-content: center;
  }
  .text1 {
    text-align: center;
    font-size: 12px;
    margin-left: 15px;
  }
  .item {
    align-items: center;
    justify-content: center;
  }
  .flx1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
@media only screen and (max-width: 360px) {
  .footr {
    flex-direction: column;
    justify-content: center;
  }
  .text1 {
    text-align: center;
    font-size: 12px;
    margin-left: 15px;
  }
  .item {
    align-items: center;
    justify-content: center;
  }
  .flx1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
