.footer-logo{
    display: flex;
    
     width: 50%;
    justify-content: flex-end;
    
    padding-right: 40px;
    /* margin-top: 10px; */
    align-items: center;
    top:0px;
    right: 0%;
}
.footer-text {
    
    width: 50%;
    font-size: 16px;
    text-align: center;
    float: left;
    
 
}
.footer-style{
    height: "10vh";
    align-items: "center";
}
